body {
    background-color: #9dc1de;
    color: #f8f8f8;
}

.nav-link{
    font-weight: 500;
    color: #f8f8f8;
   
}

.jumbotron {
    background-color: transparent;
}

.display-4 {
    font-weight: 500;
}

.lead {
    font-weight: 400;
}

h2 {
    color: #649dcb;
}

